<!DOCTYPE html>
<html>
<head>
  <title>Destiny - Status</title>
  <%= csrf_meta_tags %>

  <%= javascript_pack_tag 'health_vue' %>
  <%= stylesheet_pack_tag 'health_vue' %>
</head>

<body>
<div id='health'>
  <health></health>
</div>
</body>
</html>
